<template>
  	<q-page>
    <!-- content -->
	    <q-carousel arrows animated autoplay infinite v-model="slide" height="200px" v-if="food.images.data.length >= 1">
	        <q-carousel-slide v-for="(foodImage, idx) in food.images.data" :key="idx" :name="idx" :img-src="urlImg + '/image/food/' + foodImage.path">
	          <div class="absolute-bottom custom-caption">
	            <div class="text-h6 text-left">{{food.restaurant.name}}</div>
	          </div>
	        </q-carousel-slide>
	    </q-carousel>
	    <q-list >
			<q-item clickable v-ripple class="q-pa-md">
				<q-item-section avatar>
					<q-icon color="black" name="restaurant" />
				</q-item-section>
				<q-item-section>{{food.name}}</q-item-section>
			</q-item>
			<q-item clickable v-ripple class="q-pa-md">
				<q-item-section avatar>
					<q-icon color="black" name="attach_money" />
				</q-item-section>
				<q-item-section>{{food.price}}</q-item-section>
			</q-item>
		</q-list>
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<q-expansion-item v-model="expanded" icon="list" class="text-dark" label="Recipe">
			        <q-card>
			          <q-card-section>
			            <q-scroll-area :thumb-style="thumbStyle" :content-style="contentStyle" :content-active-style="contentActiveStyle"style="height: 120px; width:100%">
					        <div class="row">
					          <p>{{food.recipe}}</p>
					        </div>
					      </q-scroll-area>
			          </q-card-section>
			        </q-card>
			     </q-expansion-item>
			</div>
			<div class="col-sm-12 col-xs-12">
				<q-expansion-item v-model="expandedTwo" icon="list" class="text-dark" label="Descripción">
			        <q-card>
			          <q-card-section>
			            <q-scroll-area :thumb-style="thumbStyle" :content-style="contentStyle" :content-active-style="contentActiveStyle"style="height: 120px; width:100%">
					        <div class="row">
					          <p>{{food.description}}</p>
					        </div>
					      </q-scroll-area>
			          </q-card-section>
			        </q-card>
			     </q-expansion-item>
			</div>
		</div>
  	</q-page>
</template>

<script>
import { domainImg } from '../../api/data'
export default {
  // name: 'PageName',
  computed:{
    food () {
      return this.$store.getters['filter/getFilterFood']
    },
    contentStyle () {
      return {
        backgroundColor: 'rgba(0,0,0,0.02)',
        color: '#555'
      }
    },
    contentActiveStyle () {
      return {
        backgroundColor: '#eee',
        color: 'black'
      }
    },
    thumbStyle () {
      return {
        right: '2px',
        borderRadius: '5px',
        backgroundColor: '#DC812C',
        width: '5px',
        opacity: 0.75
      }
    }
  },
  data () {
  	return {
  		urlImg: domainImg,
  		slide: 0,
  		expanded: false,
  		expandedTwo: false
  	}
  }
}
</script>
