<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-ajax-bar
        position="top"
        color="purple-8"
        size="5px"
      />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
